@import url('https://fonts.googleapis.com/css2?family=Taprom&family=Ubuntu:wght@300;400&display=swap');

/* Basic Stylings */
:root{
    --secondary: black;
    --primary: hwb(0 60% 40% / 0.422);
    --secondaryA: white;
}
body{
    font-family: 'Ubuntu',
    sans-serif;
    font-size: small;
    color: var(--secondary);
}
.container-custom{
    max-width: 1440px;
    width: 100%;
    max-height: 1024px;
    height: 100%;
    padding: 0 0.75rem;
    margin-left: auto;
    margin-right: auto;
}
.h4{
    font-family: 'Taprom',
    cursive;
}
.btn-outline{
    color:var(--primary);
    padding:4px 12px;
    border: 2px solid var(--primary);
    border-radius: 3px;
}
.btn-outline:hover{
    background-color: var(--primary);
    color: var(--secondary);
}
/* Header Area */
.navbar .container-custom{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    padding: 0 10px;
}
.nav-item a{
    color: var(--primary);
    font-weight: 500;
    font-size: 15px;
}
.nav-item a:hover{
    color:var(--secondary)!important;
}
/* Images in the UI's start here */
.container-physicalstoreimg{
    background-image: url('../img/shop.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    border-radius:100px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    right: 440px;
    color: var(--secondaryA);
}
/* Images in the UI's end here */
/* Background Images in the UI's start here*/
.bg-img-homepage{
    background-image: url('../img/wallpaperflare.com_wallpaper.jpg');
    height: 100vh;
    border-radius: 5px 5px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img-medical{
    background-image: url('../img/crystalweed-cannabis-rLR4smahG2Q-unsplash.jpg');
    height: 100vh;
    border-radius: 5px 5px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img-recreational{
    background-image: url('../img/50611572757_31f130c33d_h.jpg');
    height: 100vh;
    border-radius: 5px 5px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img-recreationalstore{
    background-image: url('../img/jeff-w-tgC4LX_8MIA-unsplash\ \(1\).jpg');
    height: 100vh;
    border-radius: 5px 5px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img-medicalstore{
    background-image: url('../img/CBD-Oil-Life-changing-or-Just-Another-Health-Trend---What-is-CBD.webp');
    height: 100vh;
    border-radius: 5px 5px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Background Images in the UI's end here*/
/* Rounded buttons Start Here */
.btn-roundbtmleft{
    background-image: url('../img/istockphoto-483300738-612x612.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    border-radius:100px;
    width: 100px;
    height: 100px;
    justify-content: center;
    line-height: 70px;
    text-align: auto;
    position: absolute;
    top: 320px;
    right: 320px;
    color: var(--secondaryA);
}
.btn-roundbtmright{
    background-image: url('../img/istockphoto-1161409422-612x612.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    border-radius:100px;
    width: 100px;
    height: 100px;
    justify-content: center;
    line-height: 70px;
    text-align: auto;
    position: absolute;
    top: 320px;
    right: 190px;
    color: var(--secondaryA);
}
/* Rounded buttons End Here */
/* Text stylings start here */
.hero-text{
    position: absolute;
    top: 270px;
    right: 140px;
    font-family: 'Ubuntu',
    sans-serif;
    font-size: small;
    color: var(--secondaryA);
}
.top-left-text{
    font-family: 'Ubuntu',
    sans-serif;
    font-size: small;
    color: var(--secondaryA)!important;
}
/* Styling of text in the hero of Recreational/Medical store starts here  */
.stores-text{
    position: absolute;
    top: 250px;
    right: 100px;
    list-style-position: inside;
    font-size: 15px;
    color: var(--secondaryA);
}
/* Styling of text in the hero of Recreational/Medical store ends here  */
/* Styling of text in the hero of medical UI starts here */
.mid-bottomright{
    position: absolute;
    top: 250px;
    right: 100px;
    list-style-position: inside;
    font-size: 10px;
    color: var(--secondaryA);
}
/* Styling of text in the hero of medical UI ends here */
/* Styling of text in the hero of recreational UI starts here */
.top-midleft{
    position: absolute;
    top: 165px;
    right: 365px;
    list-style-position: inside;
    font-size: 10px;
    color: var(--secondaryA);
}
.bottom-midleft{
    position: absolute;
    top: 265px;
    right: 365px;
    list-style-position: inside;
    font-size: 10px;
    color: var(--secondaryA);
}
.proceed-text{
    position: absolute;
    top: 388px;
    right: 50px;
    font-size: 10px;
    color: var(--secondaryA);
}
/* Styling of text in the hero of recreational UI ends here */
/* Styling of text in the hero of About UI starts here */
.aboutphysicalstore-text{
    position: absolute;
    top: 100px;
    right: 95px;
    font-size: 5px;
    color: var(--secondary);
}
/* Styling of text in the hero of About UI ends here */
/* Text stylings end here */
/* Link styleCSS of the rounded buttons in the homepage UI starts here */
.btn-roundbtmleft a:link,a:visited{
    color: var(--secondaryA);
    font-weight: 500;
    text-decoration: none;
}
.btn-roundbtmleft a:hover,a:active{
    color: var(--secondary);
    font-weight: 500;
    text-decoration: none;
}
.btn-roundbtmright a:link,a:visited{
    color: var(--secondaryA);
    font-weight: 500;
    text-decoration: none;
}
.btn-roundbtmright a:hover,a:active{
    color: var(--secondary);
    font-weight: 500;
    text-decoration: none;
}
/* Link styleCSS of the rounded buttons in the homepage UI ends here */
/* Fast redirect buttons starts here */
.btn-back{
    position: absolute;
    top: 380px;
    right: 560px;
    font-size: 20px;
    color: var(--secondaryA);
}
.btn-forward{
    position: absolute;
    top: 380px;
    right: 10px;
    font-size: 20px;
    color: var(--secondaryA);
}
/* Fast redirect buttons ends here */
/* Link styleCSS of the fast redirect buttons starts here */
.btn-back a:link,a:visited{
    color: var(--secondaryA);
    text-decoration: none;
}
.btn-back a:hover,a:active{
    color: var(--secondary);
    text-decoration: none;
}
.btn-forward a:link,a:visited{
    color: var(--secondaryA);
    text-decoration: none;
}
.btn-forward a:hover,a:active{
    color: var(--secondary);
    text-decoration: none;
}
/* Link styleCSS of the fast redirect buttons starts here */
/* Social of the actual shop(Instragram etc) start here */
.social .list-inline-item{
    position: relative;
    left: 170px;
    top: 45px;
    font-size: 20px;
}
.social li a{
    color: var(--primary);
}
.social li a:hover{
    color: var(--secondary);
}
/* Social of the actual shop(Instragram etc) end here */